 <style type="text/css" >
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    #pgmenu ul {
      margin: 0;
      padding: 0;
    }
    #pgmenu li {
      margin: 0;
      padding: 0;
    }
    #pgmenu a {
      margin: 0px;
      padding: 0px;
    }
    #pgmenu ul {
      list-style: none;
    }
    #pgmenu a {
      text-decoration: none;
    }
    #pgmenu {
      height: 50px;
      background-color: #1B45A7);
      border-bottom: 5px solid #1B45A7;
      border-top: 5px solid #1B45A7;
    }
    #pgmenu > ul > li {
      float: left;
      margin-left: 15px;
      position: relative;
    }
    #pgmenu > ul > li > a {
      color: rgb(160,160,160);
      font-size: 20px;
      line-height: 50px;
      padding: 15px 20px;
      -webkit-transition: color .15s;
      -moz-transition: color .15s;
      -o-transition: color .15s;
      transition: color .15s;
    }
    #pgmenu > ul > li > a:hover {
      color: rgb(250,250,250);
    }
    #pgmenu > ul > li > ul {
      opacity: 0;
      visibility: hidden;
      padding: 16px 0 20px 0;
      background-color: rgb(250,250,250);
      text-align: left;
      position: absolute;
      top: 55px;
      left: 50%;
      margin-left: -90px;
      width: 180px;
      -webkit-transition: all .3s .1s;
      -moz-transition: all .3s .1s;
      -o-transition: all .3s .1s;
      transition: all .3s .1s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
      -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
      box-shadow: 0px 1px 3px rgba(0,0,0,.4);
      z-index: 1000;
    }
    #pgmenu > ul > li:hover > ul {
      opacity: 1;
      top: 65px;
      visibility: visible;
    }
    #pgmenu > ul > li > ul:before {
      content: '';
      display: block;
      border-color: transparent transparent rgb(250,250,250) transparent;
      border-style: solid;
      border-width: 10px;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -10px;
    }
    #pgmenu > ul ul > li {
      position: relative;
    }
    #pgmenu ul ul a {
      color: rgb(50,50,50);
      font-family: Verdana, 'Lucida Grande';
      font-size: 13px;
      background-color: rgb(250,250,250);
      padding: 5px 8px 7px 16px;
      display: block;
      -webkit-transition: background-color .5s;
      -moz-transition: background-color .5s;
      -o-transition: background-color .5s;
      transition: background-color .5s;
    }
    #pgmenu ul ul a:hover {
      background-color: rgb(240,240,240);
    }
    #pgmenu ul ul ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: -16px;
      left: 206px;
      padding: 16px 0 20px 0;
      background-color: rgb(250,250,250);
      text-align: left;
      width: 160px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
      -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
      box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    }
  </style>